h3 {
  color: blueviolet;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
.btn-primary {
  background-color: blueviolet;
  border-color: blueviolet;
}
.btn-primary:hover {
  background-color: rgb(51, 6, 93);
  border-color: rgb(51, 6, 93);
}
.Input {
  border-color: blueviolet;
}
