.Dictionary {
  max-width: 1400px;
  background-size: cover;
  background-position: center;
  margin: 20px;
  padding: 50px;
  min-height: 100vh;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(51, 6, 93, 0.3);
}
h4 {
  color: rgb(51, 6, 93);
  opacity: 0.8;
  font-size: 16px;
}
.hint {
  color: rgb(51, 6, 93);
  opacity: 0.6;
  font-style: italic;
  font-size: 12px;
  margin: 7px;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
.btn-primary {
  margin: 5px;
  background-color: blueviolet;
  border-color: blueviolet;
}
.btn-primary:hover {
  background-color: rgb(51, 6, 93);
  border-color: rgb(51, 6, 93);
}
.Input {
  margin: 5px;
  border-color: blueviolet;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  max-width: 960px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgba(51, 6, 93, 0.3);
}
@media screen and (max-width: 500px) {
  .Dictionary {
    padding: 10px;
  }
}
